appnope==0.1.4
asttokens==3.0.1
attrs==26.1.0
-e git+https://github.com/gre-ni/bookstats.git@a4f015be369c7776803e298d3f05a6b7d88dacc3#egg=bookstats
certifi==2026.5.20
charset-normalizer==3.4.7
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.21
decorator==5.3.1
executing==2.2.1
fastjsonschema==2.21.2
fonttools==4.63.0
idna==3.17
iniconfig==2.3.0
ipykernel==7.3.0
ipython==9.14.1
ipython_pygments_lexers==1.1.1
jedi==0.20.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.9.1
jupyter_core==5.9.1
kagglehub==1.0.1
kagglesdk==0.1.27
kiwisolver==1.5.0
matplotlib==3.10.9
matplotlib-inline==0.2.2
nbformat==5.10.4
nbstripout==0.9.1
nest-asyncio2==1.7.2
numpy==2.4.6
packaging==26.2
pandas==3.0.3
parso==0.8.7
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.10.0
pluggy==1.6.0
prompt_toolkit==3.0.52
protobuf==7.35.0
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
pyparsing==3.3.2
pytest==9.1.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
requests==2.34.2
rpds-py==2026.5.1
six==1.17.0
stack-data==0.6.3
tornado==6.5.7
tqdm==4.67.3
traitlets==5.15.0
typing_extensions==4.15.0
urllib3==2.7.0
wcwidth==0.8.1
